<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>公館 咖啡×文學散步</title>
    <meta property="og:title" content="公館 咖啡×文學散步">
    <meta property="og:description" content="公館 咖啡×文學散步">
    <meta property="og:type" content="website">
    <meta property="og:image" content="https://media-cdn.tripadvisor.com/media/photo-s/0e/67/ce/90/a-must-visit-cafe-great.jpg">
    <link rel="shortcut icon" type="image/png" href="/images/favicon.png" />
    <link rel="stylesheet" href="/styles/Main.css">
</head>

<body>
    <link rel="stylesheet" href="/styles/Wrapper.css">
    <div class="Wrapper">
        <!-- Main image START -->
        <link rel="stylesheet" href="/styles/Main_img.css">
        <div class="Main_img-box">
            <div class="Main_img"></div>
        </div>
        <!-- Main image END -->
        <!-- Navbar START -->
        <link rel="stylesheet" href="/styles/Navbar.css">
        <div class="Navbar-box">
            <a href="/" class="Slice">
                <div class="Navbar-href" id="Nav-1">
                    咖啡館一覽
                </div>
            </a>
            <a href="/about_GongGuan.html" class="Slice">
                <div class="Navbar-href" id="Nav-2">
                    關於公館
                </div>
            </a>
            <a href="/about_us.html" class="Slice">
                <div class="Navbar-href" id="Nav-3">
                    創作理念
                </div>
            </a>
            <a href="/test.html" class="Slice">
                <div class="Navbar-href" id="Nav-4">
                    性向測驗
                </div>
            </a>
            <a href="" class="Slice" id="RndRec">
                <div class="Navbar-href">
                    隨機推薦
                </div>
            </a>
        </div>
        <!-- Navbar END -->
        <!-- Content START -->
        <link rel="stylesheet" href="/styles/Content.css">
        <div class="Content-box">
            <h1>Title Bla Bla Bla Bla</h1>
            <div class="img-box">
                <img src="./images/example.png">
            </div>
            <div>
                <div>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur tempore fuga, ducimus id, culpa aliquid
                    ab dolore velit quisquam natus similique voluptatem porro minima amet ex, doloribus sit. Ex, dolorem.</div>
                <div>Minima ab in veritatis recusandae distinctio assumenda excepturi nulla consequuntur, deserunt eligendi omnis
                    amet et. Ad ipsam quas nihil tempore ea, ducimus facere quidem laboriosam impedit necessitatibus quaerat,
                    modi consequatur?</div>
                <div>Aspernatur, impedit. Et consequuntur itaque sit eum qui nemo fugit ad minima explicabo eaque, dolores doloremque.
                    Voluptatibus maxime ut, quae dicta dolorum unde? Ex, recusandae vel perferendis dignissimos quia nobis.</div>
            </div>
            <div class="img-box">
                <img src="./images/example.png">
                <img src="./images/example.png">
            </div>
            <div>
                <div>Provident quod consequatur totam cum, voluptas laudantium animi, saepe cumque necessitatibus ducimus ipsam
                    nemo molestiae tempore enim, cupiditate autem voluptatem rem ab! Alias accusamus nihil dolorum, ut sit
                    pariatur quod.</div>
                <div>Repellat, mollitia ullam, dicta culpa, cumque explicabo eligendi dolor provident nemo corrupti itaque voluptatem
                    dolorem quis perspiciatis unde ut tempore eveniet velit voluptatum libero accusantium exercitationem
                    voluptatibus quo! Unde, rem?</div>
                <div>Vitae iure eius facilis nisi neque tempore excepturi odit totam necessitatibus omnis aspernatur soluta beatae
                    eligendi molestiae veniam, ipsam atque architecto nam illum molestias! Excepturi exercitationem voluptas
                    sunt laudantium officiis.</div>
            </div>
            <div class="img-box">
                <img src="./images/example.png">
                <img src="./images/example.png">
                <img src="./images/example.png">
            </div>
            <div>
                <div>Odit dolores numquam molestias tenetur minima? Dicta quas sed hic doloribus et expedita asperiores, unde,
                    quos consequuntur id pariatur! Ratione nesciunt eum natus debitis repellendus officiis, voluptatibus
                    explicabo fugit dolorum.</div>
                <div>Voluptatibus, dignissimos omnis quod dolore distinctio nihil mollitia vero ab in cupiditate aliquid animi
                    eius temporibus, cumque nemo labore, repellat nulla. Fugiat magnam eligendi quaerat! Animi odio qui aperiam.
                    Sequi?
                </div>
                <div>Quaerat sunt corporis possimus accusamus facere modi, exercitationem sit libero minima! Asperiores repellendus
                    blanditiis ducimus quam ratione suscipit minima dolorum aspernatur fugit molestiae dolore consequatur
                    exercitationem magni optio, recusandae accusantium!</div>
            </div>
            <div class="img-box">
                <img src="./images/example.png">
                <img src="./images/example.png">
            </div>
        </div>
        <link rel="stylesheet" href="/styles/MessageBoard.css">
        <!-- Message Board START -->
        <div class="Msg-Board">
            <div class="Msg-Board-Title">
                留言板
            </div>
            <div class="Msg-Board-Content"></div>
        </div>
        <!-- Message Board END -->
        <!-- Leave a Message -->
        <div class="LeaveMsg-box">
            <div class="Msg-Board-Title">
                我要留言
            </div>
            <div class="LeaveMsg-Content">
                <div class="LeaveMsg-inner-box">
                    <div class="Name-box">
                        <label for="ReplyName">我的名字：</label>
                        <input id="ReplyName" name="ReplyName" class="Name-input" type="text" placeholder="王小明">
                    </div>
                    <div class="Msg-box">
                        <label for="ReplyMsg">想說的話：</label>
                        <textarea name="ReplyMsg" id="ReplyMsg" class="Msg-input" maxlength="150" placeholder="最多150字喔~~"></textarea>
                    </div>
                    <!-- <div class="Password-box">
                        <label for="Password">密碼：</label>
                        <input id="ReplyPassword" name="ReplyPassword" class="Password-input" type="text" placeholder="因為我懶得做會員登入，所以想要刪除留言的時候就要用這個密碼喔~">
                    </div> -->
                    <div class="Button-box">
                        <button class="Button" id="add-Reply">留言</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Content END -->
    </div>
    <!-- Go to top button START-->
    <link rel="stylesheet" href="/styles/BacktoTopButton.css">
    <button onclick="topFunction()" id="myBtn" title="Go to top">
        <img src="/images/BackToTop.png" class="BackToTop-img">
    </button>
    <script src="/JS_Script/BacktoTopButton.js"></script>
    <!-- Go to top button END-->
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <script src="https://www.gstatic.com/firebasejs/5.0.4/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.0.4/firebase-firestore.js"></script>
    <script src="/JS_Script/InitializeFirebase.js"></script>
    <script src="/JS_Script/RandomRecommend.js"></script>
    <script src="/JS_Script/InitializeFirebase.js"></script>
    <script src="/JS_Script/UploadReply.js"></script>
    <script>UploadReply("Template");</script>
    <script src="/JS_Script/DisplayReplies.js"></script>
    <script>DisplayReplies("Template");</script>
</body>

</html>