.Main_img-box{
    width: 100%;
    height: 250px;
    border: blue 0px solid;
}

.Main_img{
    height: 100%;
    width: 100%;
    border: red 0px solid;
    background-image: url(/images/Main_img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;   
}