* {
    box-sizing: border-box;
    font-family: Microsoft JhengHei;
}

body,
html {
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
    min-height: 950px;
}

p {
    width: 80%;
    line-height: 26px;
}